* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

h1,
h2,
p,
button {
  text-transform: capitalize;
}

button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: #f6f6f6;
  font-size: 20px;
  background-color: #323232;
  border-radius: 10px;
  cursor: pointer;
}

section {
  height: 100vh;
  background-color: #f6f6f6;
  color: #323232;
  font-family: 'poppins', sans-serif;
}

.score {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.intro {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}

.match {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}

.match .winner {
  color: #323232;
  text-align: center;
  font-size: 50px;
}

.match .hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match .hands .player-hand {
  -webkit-transform: rotateY(180deg) scale(0.5);
          transform: rotateY(180deg) scale(0.5);
}

.match .options {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.fadeOut {
  pointer-events: none;
  opacity: 0;
}

div.fadeIn {
  pointer-events: all;
  opacity: 1;
}
